html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

/*
-------------------------------------------------*/

*:focus {
	outline: none;
}

body {
	background-color: #27282c;
	color: #ddd;
}

.container {
	width: 100%;
	margin-right: auto;
  margin-left: auto;
	padding-right: 15px;
	padding-left:  15px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

/* Header
-------------------------------------------------*/
header {
	padding-top: 80px;
	margin-bottom: 20px;
}

header .title {
	display: flex;
	align-items: center;
	justify-content: center;
}
header .title img {
	margin-top: 8px;
	margin-right: 8px;
}
header .title h1 {
	margin: 0;
}

/* Todo
-------------------------------------------------*/
.todo-add {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-bottom: 20px;
	padding: 5px 0 5px 8px;
	border: 1px solid #ccc;
}
.todo-add input {
	margin: 0;
	width: 100%;
	border: 0;
	color: #ddd;
	background-color: transparent;
}
.todo-add button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0 16px;
	font-size: 0.875rem;
	background-color: #ccc;
	cursor: pointer;
}

.todo-add button:not(:disabled):active {
	background-color: #ddd;
}

.todo-items-header {
	display: flex;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.todo-items-header h2 {
	font-size: 1rem;
	margin: 0 8px 0 0;
}
.todo-items {
	margin-bottom: 20px;
}
.todo-items button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
	color: #ddd;
	cursor: pointer;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
}
.todo-item button:not(:disabled):active {
		color: red;
}

.todo-item .checked {
	text-decoration: line-through;
}

.count {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
/* Footer
-------------------------------------------------*/
footer p {
	text-align: center;
	padding: 20px 15px;
}